@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* the proau styling */

.ReactModal__Overlay {
  opacity: 0;
  transition: .8s;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  width: 100%;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  width: 0%;
}

.main{
  display:flex;
  align-Items:center;
  justify-Items:flex-start;
  flex-direction: row;
  transition: 1s;
}

.side-nav{
  width: 20%;
  height: 100vh;
  background-color: #1e1e1e;
}

.left-container{
  width: 80%;
  height: 100vh;
  /* background-color: #830505; */
}

.banner{
  width: 100%;
  height: 20%;
  background-color: #1e1e1e;
}

.trainee-snippets-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  font-family: 'IBM Plex Sans', sans-serif;
}

.trainee-snippet{
  width: 18%;
  height: 63%;
  background-color: white;
  color:rgb(46, 42, 42);
  transition:0.5s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin:5px;
  border: 1px solid darkgray;
  border-radius: 10px;
  transition: 0.7s;
  cursor: pointer;
}

.trainee-snippet:hover{
  background-color: rgb(235, 230, 230);
}

.trainee-snippet img{
  width: 150px;
}

.trainee-snippet .user-detail-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 300px;
  /* background-color: teal; */
  width: 100%;
}

.trainee-snippet li{
  list-style: none;
  width: 100%;
  /* background-color: rgb(238, 238, 217); */
  margin: 2px;
}

.button-container{
  width: 90%;
  height: 55px;
  display: flex;
  justify-content:space-between ;
}

.trainee-snippet button {
  border:none;  
  cursor: pointer;
}

.trainee-snippet button:active {
  opacity: 0.7;
  transition: 0.5s;  
}

.trainee-snippet button:nth-child(1){
  background-color: lightgreen;
  width: 30%;
  height: 80%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  font-size: 13px;
}

.trainee-snippet button:nth-child(2){
 background-color: tomato;
 width: 30%;
 height: 80%;
 border-bottom-right-radius: 20px;
 border-top-right-radius: 20px;
 color: white;
 font-size: 13px;
}

.trainee-profile{
  width: 100%;
  height: 90%;

  display:flex;
  align-Items:center;
  justify-Items:flex-start;
  flex-direction: row;
  transition: 0.7s;
  font-family: 'Open Sans', sans-serif;;
}

.trainee-profile-left{
  width: 40%;
  height: 100%;
  /* background-color: sandybrown; */
}

.trainee-profile-right{
  width: 60%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.trainee-profile-right form{
  width: 90%;
  /* background-color: slategrey; */
  height: 100%;
}

.trainee-profile-right .form-item{
  width: 100%;
  height: fit-content;
  margin: 5px;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 25% 75%;
}

.trainee-profile-right form input{
  height: 30px;
  outline: none;
  border:none;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(0, 255, 213);
}

.trainee-profile-right form label{
 margin: 5px;
 padding: 5px;
 background-color: springgreen;
}

.Collapsible{
  text-align: center;
  background-color: springgreen;
  cursor: pointer;  
  margin: 5px;
}

.Collapsible__contentOuter {
  height: 80%;
  width: 90%;
  text-align: center;  
}

.collapse_trigger{
  width:100%;
  height:50px;
  background:whitesmoke;
  color:slategray;
  transition: 0.7s;
  outline: none;
  border:none
}

.collapse_trigger:hover{
  background-color: slategrey;
  font-size: 15px;
  color:white;
  cursor: pointer;
}

.profile-button-container{
  height: 55px;
  display: flex;
  justify-content:space-between ;
}

.profile-button-container button{
  width:100%;
  height:50px;
  background:whitesmoke;
  color:slategray;
  transition: 0.7s;
  outline: none;
  border:none
}

.profile-button-container button:hover{
  background-color: slategrey;
  font-size: 15px;
  color:white;
  cursor: pointer; 
}